# ------------------------------------
# 敏感信息和私有数据
# ------------------------------------
# 实际运行时的环境配置文件，通常包含 QQ 号或密钥等
.env
.env.*
!.env.prod

# 插件运行时产生的数据，如缓存、图片输出、数据库文件
**/data/*
 # 保留json样例
!**/data/*.example

# 插件运行时产生的缓存
**/image_cache/

# ------------------------------------
# Python 运行时生成的文件
# ------------------------------------
# 虚拟环境目录
.venv/

# ------------------------------------
# IDE/编辑器/操作系统生成的文件
# ------------------------------------
# PyCharm/IntelliJ IDEA
.idea/

# VS Code
.vscode/

# 操作系统文件
.DS_Store
Thumbs.db

# ------------------------------------
# 测试和构建缓存
# ------------------------------------
.pytest_cache/
